/*GENERAL STYLING*/

* {
    background: #000;
    color: #fff;
    text-align: center;
}

a {
    text-decoration: none;
}

/*HEADER*/

header {
    border-bottom: 2px solid #000;
    margin-bottom: 5px;
    height: 100px;
}
header h1 {
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}

nav ul {
    margin-top: 0;   
    float: right;
}



